

<div class="card" style="width: 50%; color: #00FF41;  margin: 0 auto;  border-radius: 10px; border: 2px solid black; box-shadow: #00FF41 0px 20px 30px -10px;">
  <div class="card-header d-flex justify-content-between " style=" background-color: rgb(7, 7, 7);">
    <a href="/post/{{id}}"style="text-decoration-color:#00FF41;"><h4 style="color: #00FF41">{{postTitle}}</h4></a>
    <p class="">posted by {{user.username}} on {{format_date dateCreated}}</p>
  </div>
      <div class="card-body"style="background-color: #060305;">
        <p>
          {{postContent}}
        </p>
      </div>
</div>
<br>
<br>