<br>
<br>
<div class="card" style="width: 50%; margin: 0 auto; border: 3.5px solid black; border-radius: 10px; box-shadow: #00FF41 0px 20px 30px -10px;">
  <div class="card-header d-flex justify-content-between"
   style="background-color: rgb(7, 7, 7); color:#00FF41">
    <h4>{{post.postTitle}}</h4>
    <p class="">posted by {{post.user.username}} on {{format_date post.dateCreated}}</p>
  </div>
      <div class="card-body" style="background-color: #060305; color:#00FF41;" >
        {{post.postContent}}
      </div>
</div>
<br>
<br>

<!-- comments -->
<input type="hidden" name="post-id" value="{{post.id}}"/>
{{#if loggedIn}}
<div class="card "style="width: 50%; margin: 0 auto; background-color: #060305;border: 3.5px solid black; border-radius: 10px; box-shadow: #00FF41 0px 20px 30px -10px;">
  <div class="card-header">
    <form class="card-body" id="new-comment-form">
      <p class="form-label" style="color:#00FF41">Comment:</p>
      <textarea class="form-control" id="comment-body" name="comment-body"style="border-color:#00FF41;background-color: rgb(7, 7, 7); color:#00FF41"></textarea>
      <br>
      <div><button type="submit" class="btn"style="background-color:rgb(7, 7, 7); color:#00FF41; border-color:#00FF41;" >Submit:</button></div>
    </form>
  </div>
</div>
<div>
  {{> comments post.comments}}
  <br>
</div>
{{/if}}
<script src="/js/comment.js"></script>
